<!DOCTYPE html>
<html lang="en" dir="ltr">  <!--Language is English, and the direction of text is left to right-->
    <head>
        <meta charset="utf-8">  <!--UTF-8 encoding-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
        minimum-scale=0.5, maximum=1.5, user-scalable=yes">  <!--viewport attributes-->
        <meta name="description" content="robot">
        <meta name="keywords" content="robot">
        <title>Robots</title>
        <link rel="stylesheet" href="../bootstrap-5.3.3/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../CSS/font.css">
        <link rel="stylesheet" href="../CSS/theme.css">

    </head>
    <body>
      <header>
        <h1><a href="Home.html">ROBOT</a></h1>
        <nav class="main-navigation">
          <ul>
            <li><a href="Home.html">HOME</a></li>
            <li><a href="Types.html">TYPES</a></li>
            <li><a href="Technology.html">TECHNOLOGY</a></li>
            <li><a href="Relevant-enterprise.html">RELEVANT ENTERPRISE</a></li>
            <li><a href="About.html">ABOUT</a></li>
          </ul>
        </nav>
      </header>
      <nav class="breadcrumb-navigation">
        <ol>
          <li><a  href="Home.html">HOME</a></li>
          <li><p>TYPES</p></li>
        </ol>
      </nav>
      <div class="types">
        <section id="banner">
          <h2>The Diverse Forms of Iron Warriors</h2>
          <p>Robots are divided into two categories: <b><dfn>Industrial Robot</dfn></b> and
            <b><dfn>Special-purpose Robot</dfn></b>.
          </p>
        </section>
        <div class="industrial-robot">
          <h2>Industrial Robot</h2>
          <a href="Industrial-robot.html" title="Industrial Robot">
            <div class="industrial-robot-p">
              <img src="../assetes/Types/Industrial-robot.jpg" alt="Industrial robot">
              <p>
              Multi-jointed manipulators or multi-degree-of-freedom robots for
              industrial applications
            </p>
            </div>
          </a>
        </div>
        <div class="special-purpose-robot">
          <h2>Special-purpose Robot</h2>
          <a href="Special-purpose-robot.html" title="Special-purpose Robot">
            <div class="special-purpose-robot-p">
              <img src="../assetes/Types/Special-purpose-robot.jpg" alt="Special-purpose robot">
              <p>
                Robots applied in professional fields, which are generally operated
                 or used by personnel who have received specialized training, to
                 assist and/or replace humans in performing tasks
              </p>
            </div>
          </a>
        </div>
      </div>
      <footer>  <!--Footer-->
            <nav class="bottom-navigation"> <!--bottom-navigation-->
                <a href="Home.html">Hmoe</a>
                <a href="Types.html">Types</a>
                <a href="Technology.html">Technology</a>
                <a href="Relevant-enterprise.html">Relevant enterprise</a>
                <a href="About.html">About</a>
            </nav>
            <p>Author: Yucheng Xia</p>  <!--Personal information-->
            <p>Address: SWJTU-LEEDS JOINT SCHOOL</p>
            <p>Contact: <a href="mailto:sc23y3x@leeds.ac.uk">sc23y3x@leeds.ac.uk</a></p>
      </footer>
      <script src="../JS/script.js"></script>
      <script src="../bootstrap-5.3.3/dist/js/bootstrap.js"></script>
    </body>
</html>
